# Configuración de la aplicación
DEBUG=False
LOG_LEVEL=INFO

# Configuración de BD
DATABASE_URL=sqlite:///./cenace.db

# Configuración de CENACE
CENACE_URL=https://www.cenace.gob.ec/info-operativa/InformacionOperativa.htm
CENACE_TIMEOUT=10

# Configuración de scheduler
SCRAPER_INTERVAL_MINUTES=15

# Configuración de API
API_HOST=127.0.0.1
API_PORT=8001
API_RELOAD=True
